<%- include("../partials/head") %> 
<body>
  <%- include("../partials/nav") %> 
  <div class="container products-wrapper p-4 ">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando: <i><%= producto.name %> </i></h2>
			</div>
		</div>
		<div class="col-12  p-4">
			<form action="../products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail p-2">
					<div class="col-12 col-md-6">
						<label for="name" class=" form-label">Nombre del producto:</label>
          				<input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input" value="<%= producto.name %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
          				<input type="text" id="price" name="price" placeholder="Ej: $5678" class="form-input" value="<%= producto.price %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="image" class="form-label">Agregar imagen:</label>
          				<input type="file" class="form-control" aria-label="file example" value="<%= producto.imag %> ">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Descripción:</label>
          				<textarea type="text" id="description" name="description" placeholder="Ej: ..." class="form-input" value="<%= producto.description %>"></textarea>
					</div>
					<div class="col-12 col-lg-6">
						<img src="/images/<%= producto.imag %>" alt="" class="w60">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
   <%- include("../partials/footer") %> 
</body>
</html>