<%- include("partials/head") %> 
<body >
  <%- include("partials/header") %> 
  <%- include("partials/carousel") %>   
    <div class="container products-wrapper ">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Ofertas</h2>
              </div>
            <% productos.forEach(products => { %>   
              <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                  <a href="/products/details/<%= products.id %>">
                    <figure class="product-box_image">
                      <img src="/images/<%= products.imag %> " alt="imagen del producto">
                    </figure>
                    </a>
                    <article class="product-box_data">
                      <h5 class="precio"><%= products.price %></h5>
                      <p class="descrip"><%= products.name %> </p>
                    </article>
                </section>    
              </div>
            <% }) %> 
        </div>
    </div> 
    
    <%- include("partials/footer") %> 
  <script src="js/bootstrap.min.js"></script>
</body>
</html>